<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd"> 
<mapper namespace="com.hzit.ssm.dao.OutputMapper">

	<!-- 查询所有 -->
	<select id="selectAll" resultType="com.hzit.ssm.pojo.Output">
		select * from t_output
	</select>
	
	<insert id="insert" parameterType="com.hzit.ssm.pojo.Output">
		insert into t_output  values(null,#{name},#{pcount},0,#{annt},current_timestamp())
	</insert>
	 
	<select id="selectByName" resultType="com.hzit.ssm.pojo.Output" parameterType="String">
        select * from t_output
    </select> 
	 
</mapper>